<!DOCTYPE html>
<html>
<head>
	<title>SCP</title>

<!---<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>-->
	
</head>
<body>

<div class="main-panel" style="margin-bottom: 10px;">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class=" align-items-center justify-content-between page-title mb-0 mt-2">
            <h1 class="h3 mb-0 text-gray-800 page-title">Entities</h1>
          </div>
        </div>
      </div>
      <form >
        <div class="row">
          <div class="col-md-12">
            <div class="card border-0 bg-white mb-1">
              <div class="card-body pt-1 pb-0">
                <form class="form pt-2 pb-2">
                  <div class="form-body">
                    <div class="col-md-12" [formGroup]="SearchCompanyForm">
                      <div class="row">
                        <div class="col-md-3 field">
                          <label>Entity Name</label>
                          <div> <input type="text" placeholder="Enter Company Name ..." class="form-control rounded-0" formControlName="searchName"></div>
                        </div>
                        <div class="col-md-3 field">
                          <label>Entity Code</label>
                          <div class="form-group"> <input type="text" placeholder="Enter Company Code ..." class="form-control rounded-0" formControlName="searchCode"></div>
                        </div>
                        <div class="col-md-3 field">
                          <fieldset class="form-group">
                            <label for="basicInput">Status</label>
                            <select id="projectinput6" aria-placeholder="Select" name="budget" class="form-control rounded-0 border-1" formControlName="searchStatus">
                              <option value="all" selected="" >All</option>
                              <option value="buyer"> Disabled Only</option>
                              <option value="supplier">Enabled Only</option>
                            </select>
                          </fieldset>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3 field">
                          <label for="basicInput">Min Order Date Start</label>
                            <div class="form-group"> <input type="date" formControlName="searchMinOrderStartDate"
                                placeholder="Stat Del Date Start" class="form-control rounded-0">
                          </div>
                        </div>
                        <div class="col-md-3 field">
                          <label for="basicInput">Min Order Date End</label>
                            <div class="form-group"> <input type="date" formControlName="searchMinOrderEndDate"
                                placeholder="Stat Del Date Start" class="form-control rounded-0">
                          </div>
                        </div>
                        <div class="col-md-3 ">
                          <label class="checkbox-inline">
                            <input style="position: relative;margin-right: 5px;margin-top: 35px;" type="checkbox" formControlName="searchPrintFlag">Enable "Print to PDF"
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="row col-md-3" style="margin-left: 10px;">
                          <fieldset class="form-group ">
                            <button class="srcbtn1" (click)="setClear()" style="margin-right: 10px;">Clear</button>
                          </fieldset>
                          <fieldset class="form-group">
                            <button class="srcbtn1" (click)="addCompany()" style="margin-right: 10px;">Add</button>
                          </fieldset>
                          <fieldset class="form-group">
                            <button class="srcbtn1" (click)="setSearch()">Search</button>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>

<br>

<div *ngIf="action=='search'" class="main-panel">
  <div class="main-content">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <div class="panel panel-default">
                          <div class="panel-heading tbl_hdng">
                            <h4> Search Result</h4>
                          </div>
                          <table class="table col-md-12">
                            <thead>
                              <tr >                                  
                                <th style="width: 30%;">Entity Name</th>
                                <th style="width: 25%;">Entity Type</th>
                                <th style="width: 20%;">Entity Code</th>
                                <th style="width: 15%;">Disabled</th>
                                <th style="width: 5%;">Edit</th>
                                <th style="width: 5%;"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let company of CompanyData">
                                <td>{{company.company_name}}</td>
                                <td *ngIf="company.company_type_id=='0'">Buyer</td>
                                <td *ngIf="company.company_type_id=='1'">Supplier</td>
                                <td *ngIf="company.company_type_id!='0' && company.company_type_id!='1'"></td>
                                <td>{{company.company_code}}</td>
                                <td >
                                  <label class="switch" >
                                    <input type="checkbox" [checked]="company.disabled_flag=='Y'">
                                    <span class="slider round" ></span>
                                  </label>
                                </td>
                                <td>
                                  <i (click)="editCompany(company)" class='fas fa-pencil-alt'></i>
                                </td>
                                <td style="text-align: center;">?</td>
                              </tr>                              
                            </tbody>
                          </table>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
</div> 

 <td >
                                  <label class="switch" >
                                    <input type="checkbox" [checked]="company.disabled_flag=='Y'">
                                    <span class="slider round" ></span>
                                  </label>
                                </td>

</body>
</html>